:root {
  --background-color: rgb(222, 222, 222);
  /* --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --accent-color: #e74c3c;
  --text-color: #2c3e50; */
}

.rounded-container {
  border-radius: 20px !important;
  background-color: var(--background-color);
}

.bi {
  font-size: 24px;
}

.image-cover {
  object-fit: cover;
  object-position: center;
}

#new-arrival {
  height: 380px;
  background-image: url("./assets/images/hero-image.jpg");
  background-size: cover;
  background-position: center;
}

#shop .shop-container {
  border-radius: 0 100px 100px 0;
  background-color: var(--background-color) !important;
}

#shop .login-btn {
  position: absolute;
  right: 8px;
}
